body {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.hidden { display: none; }
#audio_play { margin-bottom: 16px; }
ruby { font-size: 16px; }
rt { font-size: 10px; }
.horizontal-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.horizontal-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.fixedbottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
}
.fixedfull {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}
.overlay-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 90%;
    width: 72%;
    pointer-events: auto;
}
.nextsectionbutton {
    align-self: flex-end;
}
#leftoverlay {
    margin-left: 96px;
    font-size: 20px;
    user-select: none;
    pointer-events: auto;
}
#middleoverlay {
    font-size: 40px;
    user-select: none;
    pointer-events: auto;
}
#rightoverlay {
    margin-right: 96px;
    font-size: 20px;
    user-select: none;
    pointer-events: auto;
}
.circle-sm {
    width: 60px;
    min-width: 60px;
    height: 60px;
    background-color: #00000088;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
.circle-lg {
    height: 120px;
    width: 120px;
    min-width: 120px;
    background-color: #00000088;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}